<span mat-dialog-title [className]="_theme?.dialog_title" [matTooltip]="torrent_title" matTooltipPosition="above">
	{{ torrent_title }}
</span>

<mat-dialog-content [className]="_theme?.dialog_content">
	<mat-tab-group color="accent">
		<mat-tab
			[bodyClass]="_theme?.dialog_body?.split(' ') || []"
			[label]="getTranslation('files')"
			[labelClass]="_theme?.tab_label?.split(' ') || []"
		>
			<mat-tree [dataSource]="filesDataSource" [treeControl]="filesTreeControl" class="tree">
				<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
					<span class="font-light"
						><mat-checkbox
							[checked]="node.isSelected"
							(change)="node.isSelected = !node.isSelected"
							disableRipple="true"
							>{{ node.name }}</mat-checkbox
						></span
					>
				</mat-tree-node>
				<mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
					<div class="mat-tree-node">
						<button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
							<mat-icon class="mat-icon-rtl-mirror">
								{{ filesTreeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
							</mat-icon>
						</button>
						<span class="font-medium">
							<mat-checkbox
								[checked]="node.isSelected"
								(change)="node.isSelected = !node.isSelected"
								[disabled]="isRootNode(node)"
								disableRipple="true"
							>
								{{ node.name }}
							</mat-checkbox>
						</span>
					</div>
					<div [class.tree-invisible]="!expandSubTree(node)" role="group">
						<ng-container matTreeNodeOutlet></ng-container>
					</div>
				</mat-nested-tree-node>
			</mat-tree>
		</mat-tab>
		<mat-tab
			[bodyClass]="_theme?.dialog_body?.split(' ') || []"
			[label]="getTranslation('trackers')"
			[labelClass]="_theme?.tab_label?.split(' ') || []"
			><mat-tree [dataSource]="trackersDataSource" [treeControl]="trackersTreeControl" class="tree">
				<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
					<span class="font-light"
						><mat-checkbox
							[checked]="node.isSelected"
							(change)="node.isSelected = !node.isSelected"
							disableRipple="true"
							>{{ node.url }}</mat-checkbox
						></span
					>
				</mat-tree-node></mat-tree
			></mat-tab
		>
	</mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end" [className]="_theme?.dialog_actions">
	<button mat-stroked-button color="accent" mat-dialog-close>Cancel</button>
	<button mat-flat-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>Download</button>
</mat-dialog-actions>
